<div class="myDialog" *ngIf="this.newAction">
  <div *ngIf="!this.newAction.isPause"><span>Name: </span><input (keyup)="onKeyUpNewAction($event)" /><br /></div>
  <div>
    <span>Duration: </span>
    <button (click)="onChangeDuration(-10)">-10</button>
    <button (click)="onChangeDuration(-5)">-5</button>
    <span width="100px">{{this.newAction.duration}}</span>
    <button (click)="onChangeDuration(+5)">+5</button>
    <button (click)="onChangeDuration(+10)">+10</button>
  </div>
  <button (click)="onClickConfirmAdd()">Add</button><button (click)="onClickCancelAdd()">Cancel</button>
</div>
<div class="myOverlay" *ngIf="this.newAction" ></div>




<div class="mainContent" *ngIf="this.workout">
  <span class="title">{{this.workout.name}}</span>
  <table class="workoutHeader">
    <tr>
      <td>
        <div class="title2"><span>{{this.workout.rounds.length}}</span></div>
        <div class="title3"><span>Rounds</span></div>
      </td>
      <td>
        <div class="title2"><span>{{this.formatter.formatDuration(this.workout.getDuration())}}</span></div>
        <div class="title3"><span>Total</span></div>
      </td>
      <td>
        <div class="title2"><span>{{(this.formatter.formatDuration(this.workout.getDurationWithoutPauses()))}}</span></div>
        <div class="title3"><span>Without pauses</span></div>
      </td>
    </tr>
  </table>



  <ul>
    <li *ngFor="let round of this.workout.rounds; index as i" class="newWorkoutRound">
      <div class="headerWorkoutRound">
        <span >Round {{i+1}} - Duration: {{round.getDuration()}}s</span>
        <button class="smallButton button" (click)="deleteRound(i)"><i class="fas fa-times"></i></button>
        <button class="smallButton button" (click)="duplicateRound(i)"><i class="fas fa-copy"></i></button>
      </div>
      <ul>


        <li *ngFor="let action of round.exercises; index as j" class="newWorkoutAction">
          <div>
            <i [ngClass]="{'fas liSymbol': true, 'fa-pause': action.isPause, 'fa-running': !action.isPause}"></i>
            <span [ngClass]="{'actionDetail': true, 'activeAction': action.isActive}">{{action.name}}: {{action.duration}}s</span>
            <button class="smallButton button" (click)="deleteAction(i, j)"><span class="fas fa-times"></span></button>
          </div>
        </li>


        <button class="button" (click)="addPause(i)"><i class="fas fa-plus"></i>&nbsp;<i class="fas fa-pause"></i></button>
        <button class="button" (click)="addExercise(i)"><i class="fas fa-plus"></i>&nbsp;<i class="fas fa-running"></i></button>
      </ul>
    </li>
  </ul>
  <button class="button" (click)="addRound($event)">Add round</button>
</div>

<div class="buttonBar">
  <input class="right" type="checkbox" name="generateWarmup" [checked]="this.addWarmup"/>
    <span (click)="this.addWarmup = !this.addWarmup" class="right">Add warmup</span>
  <button class="button right" (click)="onConfirmWorkoutCreation()">Confirm</button>
</div>
