
@import '../../colors.less';


.circle(@size) {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - calc(@size/2));
  top: calc(50% - calc(@size/2));
  width: @size;
  height: @size;
}

@size: 200px;
.progress-pie-chart {
  width: @size;
  height: @size;
  border-radius: 50%;
  background-color: @primary;
  position: relative;
  &.gt-50 {
    background-color: @primary;
  }
}
.ppc-progress {
  .circle(@size);
  clip: rect(0, @size, @size, calc(@size/2));
  .ppc-progress-fill {
    .circle(@size);
    clip: rect(0, calc(@size/2), @size, 0);
    background: @primary;
    transform: rotate(60deg);
  }
  .gt-50 & {
    clip: rect(0, calc(@size/2), @size, 0);
    .ppc-progress-fill {
      clip: rect(0, @size, @size, calc(@size/2));
      background: @primary;
    }
  }
}
.ppc-percents {
  .circle(calc(@size/1.15));
  background: #333333;
  text-align: center;
  display: table;
  span {
    display: block;
    font-size: 2.6em;
    font-weight: bold;
    color: @primary;
  }
}
.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.progress-pie-chart {
  margin: 50px auto 0;
}

.activeAction {
  color: red !important;
  animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-text-shadow: 0 0 0 0 red;
  }
  70% {
      -webkit-text-shadow: 0 0 0 10px blue;
  }
  100% {
      -webkit-text-shadow: 0 0 0 0 blue;
  }
}
@keyframes pulse {
  0% {
    -moz-text-shadow: 0 0 0 0 red;
    text-shadow: 0 0 0 0 red;
  }
  70% {
      -moz-text-shadow: 0 0 0 10px blue;
      text-shadow: 0 0 0 10px blue;
  }
  100% {
      -moz-text-shadow: 0 0 0 0 blue;
      text-shadow: 0 0 0 0 blue;
  }
}
